<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
</head>
<body>
<h4 th:text="#{addtask}"></h4th:text></h4>

<h4 th:text="'Edit task: ' + ${task.id}"></h4>
<form th:method="post" th:action="@{'/tasks/edit/' + ${task.id}}" th:object="${task}">
    <div>
        <label for="name" th:text="#{task.name}"></label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="dateTime" th:text="#{task.dateTime}"></label>
        <input type="datetime-local" name="dateTime" id="dateTime">
    </div>
    <div>
        <label for="description" th:text="#{task.description}"></label>
        <input type="text" name="description" id="description">
    </div>
    <input type="submit" th:value="#{edit}">
</form>

</body>
</html>>